<div>
    <h3 class="text-center">사용자 관리</h3>
    <div class="col-md-6 col-md-offset-3">
        <div>
            <ul class="col-md-12">
                <li ng-repeat="user in UserManageVm.users" style="padding: 10px;">
                    {{user.uid}} {{user.name}} {{user.role}} {{user.newRole}}
                    <select ng-model="user.newRole" ng-change="UserManageVm.changeUserRole(user)" ng-init="user.newRole = user.role" style="float:right;">
                        <option value="admin">관리자</option>
                        <option value="editor">문제입력자</option>
                        <option value="user">일반유저</option>
                    </select>
                </li>
            </ul>
        </div>
<!--        <button ng-click="vm.initUserInfo()" class="btn btn-warning" style="float:right; margin:10px;">되돌리기</button>-->
        <button ng-click="UserManageVm.updateUserInfo()" class="btn btn-primary" style="float:right; margin:10px;">저장</button>
    </div>
    
</div>