<!--<nav class="navbar navbar-fixed-top navbar-default" style="padding-top:10px;" ng-click="$event.preventDefault()">-->
<nav class="navbar navbar-fixed-top navbar-default" style="padding-top:10px;">
    <div class="container-fluid">
    <!-- When a link in the menu is clicked, we set the active variable -->
        <ul class="nav nav-pills">
<!--            <li><a ng-click="vm.showLogin()" ng-show="!$root.globals.currentUser">로그인</a></li>-->
            <li><a href="#login" ng-show="!$root.globals.currentUser">로그인</a></li>
            <li><a ng-click="vm.logout()" ng-show="$root.globals.currentUser">로그아웃</a></li>
            <li><a href="#register" ng-show="!$root.globals.currentUser">회원가입</a></li>
            <li><a href="#problem/load" ng-show="(vm.user.role == 'admin') || (vm.user.role == 'editor') || (vm.user.role == 'user')">문제 불러오기</a></li>
            <li><a href="#problem/insert" ng-show="(vm.user.role == 'admin') || (vm.user.role == 'editor')">문제 입력하기</a></li>
            <li><a href="#category/edit" ng-show="(vm.user.role == 'admin')">카테고리 편집</a></li>
            <li><a href="#user/manage" ng-show="(vm.user.role == 'admin')">사용자 관리</a></li>
            <a href="#recharge" class="navbar-text pull-right" ng-show="$root.globals.currentUser"><span class="glyphicon glyphicon-usd"></span></a>
            <a href="#user/myinfo" class="navbar-text pull-right" ng-show="$root.globals.currentUser"><span class="glyphicon glyphicon-user"></span></a>
            <p class="navbar-text pull-right" ng-show="$root.globals.currentUser">사용자: {{vm.user.username}}({{vm.user.role}})</p>
        </ul>
    </div>
</nav>