/* for screen */
@media screen {
    .selected {
        background-color: #fedcba;
    }

    .unselected {
        background-color: #f0f0f0;
    }

    .unselectable {
        background-color: #d0d0d0;
    }

    #main_header {
    }

    #insert_problem {
    }

    #edit_problem {

    }

    #load_problem {
    }   
    
    #print_answer_section {
        display: none;
    }
    
    .problemNumber {
        display: none;
    }
}


/* for print */
@media print {
    .no_print {
        display: none;
    }
    
    .print {
        margin: auto;
/*        width: 100%;*/
        width: 21.7cm;
        height: 29.0cm;
    }
        
    .problem_for_print {
        width: 50%;
        height: 14.85cm;
/*        max-height: 14.85cm;*/
        overflow: auto;
        float: left;
    }
    
    #print_question_section {
/*        page-break-before: auto;*/
    }
    
    #print_answer_section {
        page-break-before: always;
/*        page-break-after: auto;*/
    }
    
    .problemCategoriesLabel, .problemQuestionLabel, .problemExamplesLabel, #print_question_section .problemAnswerLabel, #print_question_section .problemAnswerContent, #print_question_section .problemExplanationLabel, #print_question_section .problemExplanationContent {
        display: none;
    }
    
    #print_question_section pre, #print_answer_section pre {
        border-style: none;
    }
    
/*
    #print_question_section .problemExampleContent {
        display: block;
    }
*/
/*
    #print_answer_section .problemQuestionContent{
        display: none;
    }
*/
    
    #print_answer_section .problemCategoriesContent, #print_answer_section .problemQuestionContent, #print_answer_section .problemExamples {
        display: none;
    }
    
    
/*
    #print_question_section .questionLabel {
        display: none;
    }
*/
/*
    .problem_for_print pre {
        overflow: hidden;
    }
*/
}