/* for screen */
@media screen {
    .selected {
        background-color: #fedcba;
    }

    .unselected {
        background-color: #f0f0f0;
    }

    .unselectable {
        background-color: #d0d0d0;
    }

    #main_header {
    }

    #insert_problem {
    }

    #edit_problem {

    }

    #load_problem {
    }   
    
    .problemExampleNumber {
        font-size: 15pt;
    }
}


/* for print */

@page {
    size: A4;
    margin: 0;
    padding: 0;
}

@media print {
    .no_print {
        display: none;
    }
    
    .print_problems {
        margin: 0px;
        padding: 0px;
/*        width: 21cm;*/
        overflow: auto;
        
/*
        border-style: dotted;
        border-width: medium;
        border-color: black;
*/
    }
        
    .problem_for_print {
        width: 50%;
        height: 14cm;
        margin: 0px;
        padding: auto;
        float: left !important;
        page-break-inside: avoid;
        overflow: hidden;
        
/*
        border-style: dashed;
        border-width: thin;
        border-color: black;
*/
    }
    
    .problem_for_print *{
        border-style: none;
    }
    
    .problemQuestionImages {
/*        max-width: 3cm !important;*/
    }
    
    .problemImageContent {
        width: 100px !important; 
    }
    
    .problemExampleNumber {
        font-size: 15pt;
    }

}