<h2 class="text-center">문제풀기</h2>
<button class="btn btn-warning" ng-click="SolveProblemVm.goToPrevious()" ng-show="SolveProblemVm.step != 'first'">이전</button>
<button class="btn btn-primary" ng-click="SolveProblemVm.showCategory()" ng-show="SolveProblemVm.step == 'first'">단원 선택</button>
<button class="btn btn-primary" ng-click="SolveProblemVm.startSolveProblem()" ng-show="SolveProblemVm.step == 'second'">테스트 시작</button>
<select-category ng-show="SolveProblemVm.step == 'second'" type="SELECT_ONLY" selections="SolveProblemVm.selections" max-sel=1></select-category>
<show-problem item="SolveProblemVm.problem" type="'Question'" ng-show="SolveProblemVm.step == 'third'"></show-problem>
<input type="text" class="col-md-12 form-control" ng-model="SolveProblemVm.replyForSingle" placeholder="답을 입력해 주세요." ng-show="SolveProblemVm.problem.answerType == 'single'" />
<button class="btn btn-primary" ng-click="SolveProblemVm.submitReply()" ng-show="SolveProblemVm.step == 'third'">답 제출</button>