<h3 class="text-center">{{"문제 입력하기"}}</h3>

<div class="row">
    <label class="col-md-1">카테고리:</label>
    <div class="col-md-11">
        <div style="margin-left: 20px; margin-right: 20px;">
        <select-category type=0></select-category>
        </div>
    </div>
</div>


<form ng-submit="submitForm(questionImages, explanationImages)" class="col-sm-12">
    <fieldset class="form-group">
        <label for="question" class="col-md-1">문제:</label>
        <div class="col-md-11">
            <textarea ng-model="question" style="padding: 10px; margin-bottom:10px;" name="question" class="form-control text col-sm-9" id="MathInput" onkeyup="Preview.Update()" placeholder="문제를 입력해주세요" title="question" required></textarea>
            <label for="questionImages">문제에 첨부할 이미지를 넣어주세요</label>
            <input type="file" name="questionImages" ng-model="questionImages" ngf-select="true" ngf-multiple="true" ngf-keep="true" ngf-keep-distinct="true" accept="image/*" class="btn">
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label for="answer" class="col-md-1">정답:</label>
        <div class="col-md-11">
            <div class="btn-group" style="margin-bottom: 10px">
                <label class="btn btn-primary" ng-model="answerType" ng-click="answerTypeButtonTapped(answerType)" btn-radio="'single'" uncheckable>주관식</label>
                <label class="btn btn-primary" ng-model="answerType" ng-click="answerTypeButtonTapped(answerType)" btn-radio="'multiple'" uncheckable>객관식</label>
            </div>
            <textarea ng-model="answer" style="padding: 10px; margin-bottom:10px;" name="answer" class="form-control text" placeholder="{{answerPlaceHolder}}" rows="1" title="answer" required></textarea>
            <div ng-show="answerType == 'multiple'">
                <hr/>
                <textarea ng-model="example1" style="padding: 10px; margin-bottom:10px;" name="example1" class="form-control text" placeholder="정답이 아닌 보기1을 입력해주세요" rows="1" title="example1" required></textarea>
                <textarea ng-model="example2" style="padding: 10px; margin-bottom:10px;" name="example2" class="form-control text" placeholder="정답이 아닌 보기2를 입력해주세요" rows="1" title="example2" required></textarea>
                <textarea ng-model="example3" style="padding: 10px; margin-bottom:10px;" name="example3" class="form-control text" placeholder="정답이 아닌 보기3을 입력해주세요" rows="1" title="example3" required></textarea>
                <textarea ng-model="example4" style="padding: 10px; margin-bottom:10px;" name="example4" class="form-control text" placeholder="정답이 아닌 보기4를 입력해주세요" rows="1" title="example4" required></textarea>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <label for="explanation" class="col-md-1">해설:</label>
        <div class="col-md-11">
            <textarea ng-model="explanation" style="padding: 10px; margin-bottom:10px;" rows="5" name="explanation" class="form-control text" placeholder="해설을 입력해주세요" title="explanation" required></textarea>
            <label for="explanationImages">해설에 첨부할 이미지를 넣어주세요</label>
            <input type="file" ng-model="explanationImages" name="explanationImages" ngf-select="true" ngf-multiple="true" ngf-keep="true" ngf-keep-distinct="true" accept="image/*" class="btn">
        </div>
    </fieldset>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit" />
    </fieldset>
    
    <div ng-show="question">
        <pre><strong>Q: </strong>{{question}}</pre>
    </div>
    <div ng-show="answer">
        <pre><strong>A: </strong>{{answer}}</pre>
    </div>
    <div ng-show="explanation">
        <pre><strong>A: </strong>{{explanation}}</pre>
    </div>
    
</form>