<div class="row no_print">
    <h3>문제 불러오기</h3>
</div>

<div class="row no_print">
    <div class="col-md-10 col-md-offset-1">
        <div style="margin-left: 20px; margin-right: 20px;">
            <select-category type=0 selections="category.selections" alters=""></select-category>
<!--                <span ng-repeat="cid in category.selections"><span>  #</span><span mathjax-bind="item.name"></span></span>-->
        </div>
    </div>
</div>


<form name="loadProblemsForm" style="padding-top:10px;" class="no_print">
    <fieldset class="form-group">
        <input type="button" class="btn btn-primary pull-right" value="문제 불러오기" ng-click="loadProblems()">
        <input type="button" class="btn btn-primary pull-right" style="margin-right:10px;" value="프린트" ng-click="printProblem()">
<!--            <input type="button" class="btn btn-primary pull-right" style="margin-right:10px;" value="프린트" ng-click="printProblem()" ng-show="masterProblem.getLength()">-->
    </fieldset>
</form>

<h4 class="text-center no_print" ng-show="masterProblem.getLength()">총 {{masterProblem.getLength()}}문제</h4>
<h5 ng-show="masterProblem.getLength()" class="no_print">* 문제 업데이트 가능, 카테고리 수정 가능, 첨부 그림 수정 불가</h5>
<div id="print_question_section" class="print">
    <div ng-repeat="problem in masterProblem.getMasterData()">
        <div class="problem_for_print row">
            <h4 class="col-md-1 text-center no_print">{{problem.pid}}</h4>
<!--            <h4 class="col-md-1 text-center">{{$index+1}}</h4>-->
            <div class="col-md-10">
                <show-problem item="problem" index="$index"></show-problem>
            </div>
            <div class="col-md-1 no_print">
                <a class="pull-right btn btn-primary btn-sm" style="margin-left: 8px; margin-bottom: 8px;" ng-click="updateProblem(problem)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="pull-right btn btn-danger btn-sm" style="margin-left: 8px; margin-bottom: 8px;" ng-click="deleteProblem(problem)" ng-if=false>
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="print_answer_section" class="print">
    <div ng-repeat="problem in masterProblem.getMasterData()">
        <div class="problem_for_print row">
            <h4 class="col-md-1 text-center no_print">{{problem.pid}}</h4>
<!--            <h4 class="col-md-1 text-center">{{$index+1}}</h4>-->
            <div class="col-md-10">
                <show-problem item="problem" index="$index"></show-problem>
            </div>
            <div class="col-md-1 no_print">
                <a class="pull-right btn btn-primary btn-sm" style="margin-left: 8px; margin-bottom: 8px;" ng-click="updateProblem(problem)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="pull-right btn btn-danger btn-sm" style="margin-left: 8px; margin-bottom: 8px;" ng-click="deleteProblem(problem)" ng-if=false>
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        </div>
    </div>
</div>
