<section class="list-group">

    <h3>문제 불러오기</h3>
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div style="margin-left: 20px; margin-right: 20px;">
                <select-category type=0 selections="category.selections" alters=""></select-category>
<!--                <span ng-repeat="cid in category.selections"><span>  #</span><span mathjax-bind="item.name"></span></span>-->
            </div>
        </div>
    </div>

    
    <form name="loadProblemsForm" style="padding-top:10px;">
        <fieldset class="form-group">
            <input type="button" class="btn btn-primary pull-right" value="문제 불러오기" ng-click="loadProblems()">
        </fieldset>
    </form>

    <h4 class="text-center" ng-show="masterProblem.getLength()">총 {{masterProblem.getLength()}}문제</h4>
    <h5 ng-show="masterProblem.getLength()">* 문제 업데이트 가능, 카테고리 수정 가능, 첨부 그림 수정 불가</h5>
    <div class="list-group-item" ng-repeat="problem in masterProblem.getMasterData()">
        <div class="row">
            <h4 class="col-md-1 text-center">{{problem.pid}}</h4>
            <div class="col-md-10">
                <show-problem item="problem"></show-problem>
            </div>
            <div class="col-md-1">
                <a class="pull-right btn btn-primary btn-sm" style="margin-left: 8px; margin-bottom: 8px;" ng-click="updateProblem(problem)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="pull-right btn btn-danger btn-sm" style="margin-left: 8px; margin-bottom: 8px;" ng-click="deleteProblem(problem)" ng-if=false>
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        </div>
    </div>
</section>