<div ng-class="{selected:selectCategoryCtrl.isSelected(item)&&!type, unselected:!selectCategoryCtrl.isSelected(item)&&!type, unselectable: type}" class="mathstring" style="padding: 5px; margin-bottom:5px;" ng-click="!type && selectCategoryCtrl.selectCategory(item)">
    <a class="btn btn-default btn-xs" ng-if="item.categories && item.categories.length > 0" ng-click="item.nodeCollapsed = !item.nodeCollapsed; $event.stopPropagation();">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-right': item.nodeCollapsed ,'glyphicon-chevron-down':!item.nodeCollapsed}"></span>
    </a>
    {{item.name}}
    <a class="pull-right btn btn-danger btn-xs" style="margin-left: 8px;" ng-show="type && item.cid != '1'" ng-click="selectCategoryCtrl.deleteCategory(item); $event.stopPropagation();">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    <a class="pull-right btn btn-primary btn-xs" style="margin-left: 8px;" ng-show="type && item.cid == '1'" ng-click="item.isCollapsed = !item.isCollapsed; $event.stopPropagation();">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a class="pull-right btn btn-primary btn-xs" style="margin-left: 8px;" ng-show="type" ng-click="item.isChildCollapsed = !item.isChildCollapsed; $event.stopPropagation();">
        <span class="glyphicon glyphicon-list"></span>
    </a>
</div>  
<div collapse="!item.isCollapsed">
    <div class="well well-lg">
        <h6>추가할 카테고리 이름을 입력하세요</h6>
        <form ng-submit="selectCategoryCtrl.addCategory(categoryName, item)">
            <input type="text" class="col-sm-10" name="categoryName" ng-model="categoryName" placeholder="Write a category name" />
            <input type="submit" value="추가" />
        </form>
    </div> 
</div>    
<ol ng-model="item.categories" collapse="!item.nodeCollapsed" style="list-style-type:none;">
    <li collapse="!item.isChildCollapsed">
            <div class="well well-lg">
                <h6>추가할 자식 카테고리 이름을 입력하세요</h6>
                <form ng-submit="selectCategoryCtrl.addChildCategory(categoryName, item)">
                    <input type="text" class="col-sm-10" name="categoryName" ng-model="categoryName" placeholder="Write a category name" />
                    <input type="submit" value="추가" />
                </form>
            </div> 
    </li>
    <li ng-repeat="item in item.categories" ng-include="'view/nodes-renderer.html'" >
    </li>
</ol>