<div class="tree-node tree-node-content bg-warning">
    <a class="btn btn-default btn-xs" ng-if="item.categories && item.categories.length > 0" data-nodrag ng-click="toggle(this)">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down':!collapsed}"></span>
    </a>
    {{item.name}}
    <button class="pull-right btn btn-default btn-sm" ng-click=""></button>
</div>
<ol ui-tree-nodes="" ng-model="item.categories" ng-class="{hidden: !collapsed}">
    <li ng-repeat="item in item.categories" ng-include="'view/nodes-renderer.html'" ui-tree-node>
    </li>
</ol>