<ol ng-model="categories" style="padding-left: 10px; padding-right: 10px; margin-bottom:10px; list-style-type:none;">
    <li ng-repeat="item in categories">
        <nodes-renderer></nodes-renderer>
    </li>
</ol>

<!--
<div ng-show="!type && selections.length" class="col-md-9" style="padding-bottom:10px">
    <h5 class="col-md-3">선택 카테고리: </h5>
    <div class="col-md-9">
        <span ng-repeat-start="item in selections" mathjax-bind="item.name"></span>
        <span ng-repeat-end> / </span>
    </div>
</div>-->
